*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#0f172a;
    color:white;
}

header{
    background:#16a34a;
    padding:20px;
    text-align:center;
    font-size:32px;
    font-weight:bold;
}

nav{
    background:#111827;
    display:flex;
    justify-content:center;
    gap:20px;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#22c55e;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

.card{
    background:#1e293b;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
}

.card h2{
    color:#22c55e;
    margin-bottom:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#16a34a;
}

th,td{
    padding:12px;
    border:1px solid #334155;
    text-align:center;
}

button{
    background:#16a34a;
    color:white;
    border:none;
    padding:12px 18px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#15803d;
}

footer{
    text-align:center;
    padding:20px;
    color:#94a3b8;
}